<div class="container secBannerPub" style="margin-top: 100px; padding: 10px;">
  <div id="crs_pub" class="carousel slide cls_pub" data-bs-ride="carousel" data-interval="5000">

      <!-- Indicators/dots -->
      <div class="carousel-indicators" id="div_indicadores"><button type="button" data-bs-target="#crs_pub" data-bs-slide-to="0" class=""></button><button type="button" data-bs-target="#crs_pub" data-bs-slide-to="1" class=""></button><button type="button" data-bs-target="#crs_pub" data-bs-slide-to="2" class="active" aria-current="true"></button></div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner" id="div_pub"><div class="carousel-item">

              <a href="/">
                  <picture>
                      <!-- <source srcset="build/img/banners//banners/01.avif" type="image/avif">
                      <source srcset="build/img/banners//banners/01.webp" type="image/webp"> -->
                      <img src="../../../assets/img/LOGO_GENERAL.png" alt="Banner publicitario1" class="d-block fto-img-pub" style="width:50%">
                  </picture>
              </a>

          </div><div class="carousel-item">
            <!-- https://www.bdksistemas.com.mx/build/img/banners//banners/03.webp -->

              <a href="/">
                  <picture>
                      <!-- <source srcset="build/img/banners//banners/02.avif" type="image/avif">
                      <source srcset="build/img/banners//banners/02.webp" type="image/webp"> -->
                      <img src="../../../assets/img/LOGO_GENERAL.png" alt="Banner publicitario2" class="d-block fto-img-pub" style="width:50%">
                  </picture>
              </a>

          </div><div class="carousel-item active">

              <a href="/">
                  <picture>
                      <!-- <source srcset="build/img/banners//banners/03.avif" type="image/avif">
                      <source srcset="build/img/banners//banners/03.webp" type="image/webp"> -->
                      <img src="../../../assets/img/LOGO_GENERAL.png" alt="Banner publicitario3" class="d-block fto-img-pub" style="width:50%">
                  </picture>
              </a>

          </div></div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#crs_pub" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#crs_pub" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
      </button>
  </div>
</div>
